{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Ranks</h1>

        </header>
        <div class="page-content">
            <div class="row page-row">

                <div class="content-wrapper col-md-12 col-sm-11">
                    <div class="page-row">
                        <h1 class="no-margin-top has-divider text-highlight">ANNUAL CONVOCATION</h1>
                        <div class="row">
                            {% for yr in setyr %}
                            <div class="col-md-12 col-sm-11 ">
                                <h3 class="has-divider text-highlight">LIST OF RANK HOLDERS FOR THE
                                    YEAR {{yr}}</h3>
                                {% for ct in setct %}
                                <h4>{{ct}} Courses:</h4>                                    
                                <div class="table-responsive">
                                    <table class="table table-boxed table-striped">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>USN</th>
                                                <th>Student Name</th>
                                                <th>Branch</th>
                                                <th>Rank</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for student in ranks_data %}
                                            {% if student.year_range == yr and student.course_type == ct %}
                                            <tr>
                                                <td>{{student.sno}}.</td>
                                                <td>{{student.uSN}}</td>
                                                <td>{{student.name}}</td>
                                                <td>{{student.branch}}</td>
                                                <td>{{student.rank}}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <!--//table-->
                                </div>
                                <!--//table-responsive-->
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                        <!--//row-->

                        <br>

                    </div>
                    <!--//page-row-->
                </div>
                <!--//content-wrapper-->
            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->
</div>
<!--//wrapper-->

{% endblock %}
