{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left">Rules And Regulations</h1>
            </strong>
        </header>
        <div class="page-content col-md-12" style="text-align:justify">
            <div class="row page-row">       
                <h3>Attendance</h3>
                <p class="has-divider">
                    Students are expected to attend all classes without fail. If, for unavoidable reasons, leave of absence is required, permission from competent authority should be sought.
                </p>
            </div>
            <!--//page-row-->
            <div class="row page-row">
                <h3>Discipline, Conduct and Behavior</h3>
                <p>
                    <ul class="medical">
                        <li>All students should reach the classroom on time and shall not leave the class without the permission of the teacher.</li>
                        <li>The behavior of the students, both within and outside the college premises should be decent and befitting to a professional institution.</li>
                        <li>All students should wear proper uniform with shoes.</li>
                        <li>Students must park their vehicles only in the space allotted. They should not bring four-wheelers to the campus as they arrive for classes.</li>
                        <li>Students found guilty of ragging will be taken serious action as per the direction of Anti-ragging Committee.</li>
                        <li>This, being an eco–friendly campus, plastic or other trash should not be thrown inside the college or in the premises.</li>
                        <li>Students are expected to contribute towards the academic/ social/environmental initiatives that the Institute may undertake.</li>
                        <li>Participation in intercollegiate programmes, within the city or outside, is subject to permission of the Principal.</li>
                        <li>Students are required to keep safe custody of their valuables. They should maintain decency and decorum during cultural events, be it inside the campus or outside.</li>
                        <li>Every student should carry his/ her identity card and produce it on demand by the authorities.</li>
                        <li>Students are prohibited from organizing or attending meetings in the college, distributing notices, collecting money and exhibiting banners, flags, posters etc. without the permission of the Principal.</li>
                        <li>All expressions or activities which are immoral, antisocial, communal and anti-national are strictly prohibited in the College campus.</li>
                        <li>The Principal shall be the final authority in the interpretation of the College rules. Matters not covered by these rules are left to the discretion of the Principal and his decision shall be final.</li>
                        <li>The students should spend maximum time in Library.</li>
                        <li>Solid waste and E-waste should be disposed only in the designated dustbins.</li>
                        <li>Over Speed of vehicle within the campus is prohibited.</li>
                        <li>Tobacco, Cigarette and Alcohol are strictly prohibited in the campus.</li>
                    </ul>
                </p>
            </div>
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->

{% endblock %}
