{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left">Startup/Innovation Cell cum FABLAB/Tinker Lab</h1>
            </strong>
        </header>
        <div class="page-content col-md-12" style="text-align:justify">
            <div class="row page-row">       
                    <p class="has-divider">As per circular issued by Visvesvaraya Technological University, the following committee is constituted for
                        Startup/Innovation Cell cum FABLAB/Tinker Lab in the college. The details of this cell are as follows:
                    </p>
                <div class="table-responsive">
                    <table class="table table-striped table-boxed">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Name & Designation</th>
                                <th>Position</th>
                                <th>Contact No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Dr. H.B. Aravinda,<br>Principal</td>
                                <td>Chairman</td>
                                <td>8861864398</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Dr. Rangaswamy B.E., HOD,<br>Dept. of Biotechnology</td>
                                <td>Member</td>
                                <td>9844622611</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Dr. Nirmala C.R., HOD,<br>Dept. of Computer Science &<br>Engineering</td>
                                <td>Member</td>
                                <td>9740770377</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Dr. Kumarappa S., HOD,<br>Dept. of Mechanical Engineering</td>
                                <td>Member</td>
                                <td>9341000364</td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Dr. K. Sadashivappa,<br>Dean Academic</td>
                                <td>Member</td>
                                <td>9241425736</td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Dr. Leela G.H.,<br>Associate Professor,<br>Dept. of Electronics & Communication<br>Engineering</td>
                                <td>Member</td>
                                <td>9844474712</td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>Dr. Avinash K.G.,<br>Associate Professor,<br>Dept. of Electronics & Communication<br>Engineering</td>
                                <td>Member</td>
                                <td>9629776764</td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>Dr. Vinutha H.P.,<br>Associate Professor,<br>Dept. of Information Science &<br>Engineering</td>
                                <td>Member</td>
                                <td>9964262478</td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>Dr. Poornima B., HOD,<br>Dept. of Information Science &<br>Engineering</td>
                                <td>Member<br>Convener</td>
                                <td>9844756458</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--//table-->
                </div>
                <!--//table-responsive-->
            </div>
            <!--//page-row-->
            <div class="row page-row">
                <h4>Responsibilities of the this cell:</h4>
                <p>
                    <ul class="medical">
                        <li>Students/Faculty are to be encouraged to participate in various Innovation related initiatives and competitions organized by MHRD and other organizations.</li>
                        <li>Arrange in house innovation competitions for students.</li>
                        <li>Meet/Interact renowned Business Leaders and top-notch academicians.</li>
                        <li>Create opportunity to nurture and prototype new ideas.</li>
                        <li>Mentoring by industry Professionals.</li>
                        <li>Experiment with new technologies.</li>
                        <li>Visit companies and places and see new culture of Entrepreneurship.</li>
                    </ul>
                </p>
            </div>
            <div class="row page-row">
                <h4>Activities to be conducted in this cell:</h4>
                <p>
                    <ul class="medical">
                        <li>At least one lecture program/workshop per semester.</li>
                        <li>At least one meeting per semester.</li>
                    </ul>
                </p>
            </div>
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->

{% endblock %}
