{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left" style="font-weight: 600">Communication, Information & Media Cell</h1>
            </strong>
        </header>
        <div class="page-content col-md-12" style="text-align:justify">
            <div class="row page-row">       
                    <p class="has-divider">As per circular issued by Visvesvaraya Technological University, the following committee is constituted for
                    Communication, Information & Media Cell in the college. The details of this cell are as follows:
                    </p>
                <div class="table-responsive">
                    <table class="table table-striped table-boxed">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Name & Designation</th>
                                <th>Position</th>
                                <th>Contact No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Dr. H.B. Aravinda,<br>Principal</td>
                                <td>Chairman</td>
                                <td>9844061789</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Dr. Thippeswamy Ekbote,<br>Professor,<br>Dept. of Mechanical Engineering</td>
                                <td>Member</td>
                                <td>9731705696</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Dr. Nirmala C.R., HOD,<br>Dept. of Computer Science &<br>Engineering</td>
                                <td>Member</td>
                                <td>9740770377</td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Dr. K. Sadashivappa,<br>Dean Academic</td>
                                <td>Member</td>
                                <td>9241425736</td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Dr. Rangaswamy B.E., HOD,<br>Dept. of Biotechnology</td>
                                <td>Member</td>
                                <td>9844622611</td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>Dr. Manjunath K.V.,<br>Librarian</td>
                                <td>Member</td>
                                <td>9844949956</td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>Dr. S.N. Ramesh<br>Associate Professor,<br>Dept. of Textile Technology</td>
                                <td>Member</td>
                                <td>9845023378</td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>Dr. G.P. Desai, HOD,<br>Dept. of Chemical Engineering</td>
                                <td>Member<br>Convener</td>
                                <td>9845388943</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--//table-->
                </div>
                <!--//table-responsive-->
            </div>
            <!--//page-row-->
            <div class="row page-row">
                <h4>Responsibilities of the this cell:</h4>
                <p>
                    <ul class="medical">
                        <li>The Cell is responsible for handling PR activities of the college.</li>
                        <li>The Cell manages the media relations of the institute and keeps the media updated with the happenings at the institute. This primarily involves covering various events of the college, writing press releases, taking photographs and ensuring that each and every event of the college gets its due media coverage.</li>
                        <li>It manages the Official Newsletter (BIETech Voice) of the institute. The cell designs and compiles the official newsletter which contains all the events and happenings of the campus, research papers published and national and international conferences attended by the faculty members.</li>
                        <li>The club provides content for periodic updation of the college’s website.</li>
                        <li>It manages the official Facebook page of college.</li>
                    </ul>
                </p>
            </div>
            <div class="row page-row">
                <h4>Activities to be conducted in this cell:</h4>
                <p>
                    <ul class="medical">
                        <li>To organize at least one event at the institute level such as Guess Who: a quiz based event per semester.</li>
                        <li>At least one meeting per semester.</li>
                    </ul>
                </p>
            </div>
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->

{% endblock %}
