{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left" style="font-weight: 600">SC, ST & OBC Cell</h1>
            </strong>
        </header>
        <div class="page-content col-md-12" style="text-align:justify">
            <div class="row page-row">       
                    <p class="has-divider">As per circular issued by Visvesvaraya Technological University, the following committee is constituted for
                    SC/ST/OBC Cell in the college. The details of this cell are as follows:
                    </p>
                <div class="table-responsive">
                    <table class="table table-striped table-boxed">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Name & Designation</th>
                                <th>Position</th>
                                <th>Gender</th>
                                <th>Email ID</th>
                                <th>Contact No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Dr. H.B. Aravinda,<br>Principal</td>
                                <td>Chairman</td>
                                <td>M</td>
                                <td>principal@bietdvg.edu</td>
                                <td>9844061789</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Dr. Thippeswamy Ekbote, Professor,<br>Dept. of Mechanical Engineering</td>
                                <td>Member</td>
                                <td>M</td>
                                <td>tekbote06@gmail.com</td>
                                <td>9731705696</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Dr. Ashwini M. Rao,<br>Assistant Professor, Dept. of Maths</td>
                                <td>Member</td>
                                <td>F</td>
                                <td>arashwinirao@gmail.com</td>
                                <td>8147808949</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Mr. Chethan S. Gonni,<br>Assistant Professor,<br>Dept. of Civil Engineering</td>
                                <td>Member</td>
                                <td>M</td>
                                <td>chethangonnis@gmail.com</td>
                                <td>9663318444</td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Ms. Devika H.,<br>Assistant Professor,<br>Dept. of Electrical & Electronics<br>Engineering</td>
                                <td>Member</td>
                                <td>F</td>
                                <td>devikahebbal@gmail.com</td>
                                <td>9880106282</td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Sri. Vasudeva Nayaka K.B.L.,<br>Assistant Professor,<br>Dept. of Biotechnology</td>
                                <td>Member<br>Convener</td>
                                <td>M</td>
                                <td>vasudevnayaka@yahoo.co.in</td>
                                <td>9535093096</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--//table-->
                </div>
                <!--//table-responsive-->
            </div>
            <!--//page-row-->
            <div class="row page-row">
                <h4>SC, ST & OBC Cell's Duties & Responsibilities:</h4>
                <p>
                    <ul class="medical">
                        <li>To look after  welfare and addressing grievances of SC, ST & OBC students of the institute.</li>
                        <li>To create awareness among students about various governmental initiatives on academics.</li>
                        <li>To provide necessary support for vertical progression.</li>
                        <li>To implement and optimally utilize the benefits of the schemes offered by the State Government, Government of India, UGC and AICTE.</li>
                    </ul>
                </p>
            </div>
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->

{% endblock %}
