{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left">Skill Development Cell</h1>
            </strong>
        </header>
        <div class="page-content col-md-12" style="text-align:justify">
            <div class="row page-row">       
                    <p class="has-divider">As per circular issued by Visvesvaraya Technological University, the following committee is constituted for
                    Skill Development Cell in the college. The details of this cell are as follows:
                    </p>
                <div class="table-responsive">
                    <table class="table table-striped table-boxed">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Name & Designation</th>
                                <th>Position</th>
                                <th>Contact No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Dr. H.B. Aravinda,<br>Principal</td>
                                <td>Chairman</td>
                                <td>8861864398</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Dr. G.S. Sunitha, HOD,<br>Dept. of Electronics & Communication<br>Engineering</td>
                                <td>Member</td>
                                <td>9480297822</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Dr. M.N. Shivakumar,<br>Assistant Professor,<br>Dept. of Civil Engineering</td>
                                <td>Member</td>
                                <td>9844421410</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Dr. Leela G.H.,<br>Associate Professor,<br>Dept. of Electronics & Communication<br>Engineering</td>
                                <td>Member</td>
                                <td>9844474712</td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Dr. Roopa G.M.,<br>Associate Professor,<br>Dept. of Computer Science &<br>Engineering</td>
                                <td>Member</td>
                                <td>8123888668</td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Dr. Dinesh Y.N.,<br>Assistant Professor,<br>Dept. of Textile Technology</td>
                                <td>Member</td>
                                <td>9964088918</td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>Dr. Shankara Gowda B.B.,<br>Assistant Professor,<br>Dept. of MCA</td>
                                <td>Member</td>
                                <td>6360846860</td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>Sri Prashant Kumar H.K.,<br>Assistant Professor,<br>Dept. of Electrical & Electronics<br>Engineering</td>
                                <td>Member</td>
                                <td>7892171653</td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>Dr. Ravindra K.B., HOD,<br>Dept. of Textile Technology</td>
                                <td>Member<br>Convener</td>
                                <td>9481359044</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--//table-->
                </div>
                <!--//table-responsive-->
            </div>
            <!--//page-row-->
            <div class="row page-row">
                <h4>Responsibilities of the this cell:</h4>
                <p>
                    <ul class="medical">
                        <li>To offer short term training courses in Computer hardware and Networking, Engine assembly and maintenance, garment stitching, etc.</li>
                        <li>To offer courses to improve skills of students as required by the industries.</li>
                        <li>To provide necessary support to students to become self-employed professionals.</li>
                        <li>To create awareness among students about Govt. schemes on skill development.</li>
                    </ul>
                </p>
            </div>
            <div class="row page-row">
                <h4>Activities to be conducted in this cell:</h4>
                <p>
                    <ul class="medical">
                        <li>To conduct at least one short term course (40 hours – 5 day program) per semester.</li>
                        <li>To arrange at least one lecture program per semester on Skill Development Schemes.</li>
                    </ul>
                </p>
            </div>
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->

{% endblock %}
