{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Research</h1>
            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                    <li><a href="/research">Research</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">Dean Message</li>
                </ul>
            </div>
            <!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <aside class="page-sidebar col-md-3 col-sm-4 affix-top">
                    <section class="widget">
                        <ul class="nav">
                            <li><a href="/research">Research Overview</a></li>
                            <li class="active"><a href="/research/dean_message">Dean Message</a></li>
                            <li><a href="/research/recognized_research_centers">Recognized Research Centers</a></li>
                            <li><a href="/research/funded_projects">Funded Projects</a></li>
                            <li><a href="/research/kscst_projects">KSCST/In-House/VTU/Other Projects</a></li>
                            <li><a href="/research/industry_collaboration">Industry Collaboration/MOU/Patents</a></li>
                            <li><a href="/research/product_development">Product Development</a></li>
                            <li><a href="/research/research_facilities">Research Facilities</a></li>
                            <li><a href="/research/honors_and_awards">Honors and Awards</a></li>
                        </ul>
                    </section>
                    <!--//widget-->
                </aside>
                <!--//page-sidebar-->
                <div class="content-wrapper col-md-9 col-sm-8">

                    <div class="page-row content-text">
                        <h1 class="no-margin-top has-divider text-highlight">Dean Message</h1>
			{% for dean in research_dean_data %}
                        <p>
                            <div class="col-md-4 text-center">
                                <div class="album-cover">
                                    <!-- <a href="#"> -->
                                    <img class="img-thumbnail"
                                        src="{{dean.image.url}}" alt=""
                                        style="width:330px;height:260px;">
                                    <!-- </a> -->
                                    <div class="desc">
                                        <h5>{{dean.name}}</h5>
                                        <h6>Dean - Research & Development</h6>
                                        <h4><small>{{dean.designation}}<br>{{dean.department}}</small>
                                        </h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 text-center">
                                <div class="" style="  text-align: justify;">
                                    <p>
                                        {{dean.description|linebreaks}}   
                                    </p>
                                </div>
                                {% if dean.detail %}
                                <a href="{{dean.detail.url}}"
                                    class="btn btn-theme view-pdf">Read More</a>
                                {% else %}
                                {% endif %}
                            </div>
                        </p>
                        {% endfor %}
                    </div>
                    <!--//page-row-->
                </div>
                <!--//content-wrapper-->
            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->
</div>
<!--//wrapper-->

{% endblock %}
