{% extends 'base.html' %} {% load static %} {% block content %}

<div class="content container bgdata">
	<div class="page-wrapper">
		<header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left">All India Survey of Higher Education (AISHE)</h1>
            </strong>
        </header>
		<div class="page-content">
            <article class="welcome col-md-12 col-sm-11">
                <div class="row page-row" style="text-align: justify;">
		    <p>Higher education is of vital importance for the country, as it is a powerful tool to build knowledge-based society of the 21st Century. India possesses a highly developed higher education system which offers facility of education and training in almost all aspects of human creative and intellectual endeavors: arts and humanities; natural, mathematical and social sciences, engineering; medicine; dentistry; agriculture; education; law; commerce and management; music and performing arts; national and foreign languages; culture; communications etc. The expansion in institutional capacity in terms of number of universities/colleges and teachers has provided greater access to the students to post higher secondary education.</p>
                    <p>In view of the above, <b>Ministry of Human Resource Development</b> (MHRD) initiated an All India Survey on Higher Education (AISHE) in the year 2011 with reference date of 30th September, 2010 to build a robust database and to assess the correct picture of higher Education in the country.<br><br></p>
                    <h3>Bapuji Institute of Engineering & Technology, Davangere-577004, Karnataka: AISHE CODE is C-1428</h3>
                    <h5><br>The main objectives of the survey was to </h5>
                    <p>
                        <ul class="medical">
                            <li>
                                Identify & Capture all the institutions of higher learning in the country
                            </li>
                            <li>
                                Collect the data from all the higher education institutions on various aspects of higher education
                            </li>
                        </ul>
                    </p>
                    <h5><br>Task Force:</h5>
                    <p>A Task Force was constituted with representations from various stakeholders such as Ministry of Human Resource Development (MHRD), University Grants Commission (UGC), All India Council for Technical Education (AICTE), Medical Council of India (MCI), Indian Institute of Agricultural Statistics Research Institute (IASRI), Central Statistics Office (CSO), Distance Education Council (DEC), National University of Education Planning & Administration (NUEPA), Universities, State Higher Education Departments to conceptualize the Survey and to provide technical guidance. Keeping in view the importance of the information gathered through the survey, Task Force recommended making the survey an annual system of data collection on higher education   in the country. The recommendation was accepted by the Ministry and the survey is now an annual exercise.</p>
                    <h5><br>Key Results of the AISHE 2018-19</h5>
                    <p>
                        <ul class="medical">
                            <li>
                                Survey covers all institutions of Higher Education in the country, registered with AISHE code in AISHE portal www.aishe.gov.in. Institutions are categorized in 3 broad categories; University, College and Stand-alone Institutions.
                            </li>
                            <li>
                                There are 993 Universities, 39931 Colleges and 10725 Stand Alone Institutions listed on AISHE web portal and out of them 962 Universities, 38179 Colleges and 9190 Stand Alone Institutions have responded during the survey. 298 Universities are affiliating i.e. having Colleges.
                            </li>
                            <li>
                                385 Universities are privately managed. 394 Universities are located in rural area.
                            </li>
                            <li>
                                16 Universities are exclusively for women, 3 in Rajasthan, 2 in Tamil Nadu & 1 each in Andhra Pradesh, Assam, Bihar, Delhi, Haryana, Himachal Pradesh, Karnataka, Maharashtra, Odisha, Uttarakhand and West Bengal.
                            </li>
                            <li>
                                In addition to 1 Central Open University, 14 State Open Universities and 1 State Private Open University, there are 110 Dual mode Universities, which offer education through distance mode also and the maximum 13 of them are located in Tamil Nadu.
                            </li>
                            <li>
                                There are 548 General, 142 Technical, 63 Agriculture & Allied, 58 Medical, 23 Law, 13 Sanskrit and 9 Language Universities and rest 106 Universities are of other categories.
                            </li>
                            <li>
                                The top 8 States in terms of highest number of colleges in India are Uttar Pradesh, Maharashtra, <b>Karnataka</b>, Rajasthan, Haryana, Tamil Nadu, Gujarat and Madhya Pradesh.
                            </li>
                            <li>
                                <b>Bangalore Urban district tops</b> in terms of number of colleges with 880 colleges followed by Jaipur with 566 colleges. Top 50 districts have about 32.2% of colleges.
                            </li>
                            <li>
                                College density, i.e. the number of colleges per lakh eligible population (population in the age-group 18-23 years) varies from 7 in Bihar to <b>53 in Karnataka</b> as compared to All India average of 28.
                            </li>
                            <li>
                                60.53% Colleges are located in Rural Area. 11.04% Colleges are exclusively for Female.
                            </li>
                            <li>
                                Only 2.5% Colleges run Ph.D. programme and 34.9% Colleges run Post Graduate Level programmes.
                            </li>
                            <li>
                                There are 34.8% Colleges, which run only single programme, out of which 83.1% are privately managed. Among these privately managed colleges, 38.1% colleges run B.Ed. Courses only.
                            </li>
                            <li>
                                77.8% Colleges are privately managed; 64.3% Private-unaided and 13.5% Private-aided. Andhra Pradesh & Uttar Pradesh have about 88% Private-unaided colleges and Tamil Nadu has 87% Private-unaided colleges, whereas, Assam has 16.0%.
                            </li>
                            <li>
                                16.3% of the Colleges are having enrolment less than 100 and only 4% Colleges have enrolment more than 3000.
                            </li>
                            <li>
                                Total enrolment in higher education has been estimated to be 37.4 million with 19.2 million male and 18.2 million female. Female constitute 48.6% of the total enrolment.
                            </li>
                            <li>
                                Gross Enrolment Ratio (GER) in Higher education in India is 26.3%, which is calculated for 18-23 years of age group. GER for male population is 26.3% and for females, it is 26.4%. For Scheduled Castes, it is 23% and for Scheduled Tribes, it is 17.2% as compared to the national GER of 26.3%.
                            </li>
                            <li>
                                Distance enrolment constitutes about 10.62% of the total enrolment in higher education, of which 44.15% are female students.
                            </li>
                            <li>
                                About 79.8% of the students are enrolled in Undergraduate level programme. 1,69,170 students are enrolled in Ph.D. that is less than 0.5% of the total student enrolment.
                            </li>
                            <li>
                                Maximum numbers of Students are enrolled in B.A. programme followed by B.Sc. and B.Com. programmes. 10 Programmes out of approximately 187 cover 80.3% of the total students enrolled in higher education.
                            </li>
                            <li>
                                At Undergraduate level the highest number (35.9%) of students are enrolled in Arts/ Humanities/Social Sciences courses followed by Science (16.5%), Engineering and Technology (13.5%) and Commerce (14.1%).
                            </li>
                            <li>
                                At Ph.D. level, maximum number of students are enrolled in Science stream followed by Engineering and Technology. On the other hand at Post Graduate level maximum students are enrolled in Social Science stream and Management comes at number two.
                            </li>
                            <li>
                                Uttar Pradesh comes at number one with the highest student enrolment followed by Maharashtra and Tamil Nadu.
                            </li>
                            <li>
                                Scheduled Casts students constitute 14.9% and Scheduled Tribes students 5.5% of the total enrolment. 36.3% students belong to Other Backward Classes. 5.2% students belong to Muslim Minority and 2.3% from other Minority Communities.
                            </li>
                            <li>
                                The total number of foreign students enrolled in higher education is 47,427.
                            </li>
                            <li>
                                The foreign students come from 164 different countries from across the globe. The top 10 countries constitute 63.7% of the total foreign students enrolled.
                            </li>
                            <li>
                                Highest share of foreign students come from the neighbouring countries of which Nepal is 26.88% of the total, followed by, Afghanistan (9.8%), Bangladesh (4.38%), Sudan (4.02%), Bhutan constitutes (3.82%) and Nigeria (3.4%).
                            </li>
                            <li>
                                There are more than 78.0% colleges running in Private sector; aided and unaided taken together, but it caters to only 66.4% of the total enrolment.
                            </li>
                            <li>
                                The total number of teachers are 14,16,299, out of which about 57.8% are male teachers and 42.2% are female teachers. At All-India level there are merely 73 female teachers per 100 male teachers.
                            </li>
                            <li>
                                Pupil Teacher Ratio (PTR) in Universities and Colleges is 29 if regular mode enrolment is considered whereas PTR for Universities and its Constituent Units is 18 for regular mode.
                            </li>
                            <li>
                                Among non-teaching staff, the share of Group-C is the highest with 39.3%, followed by Group-D with 28.3%. Group-A and Group-B comprise of 15.4% and 17% non-teaching posts, respectively.
                            </li>
                            <li>
                                The average number of females per 100 male non-teaching staff is 49.
                            </li>
                            <li>
                                40,813 students were awarded Ph.D. level degree during 2018 with 23,765 males and 17,048 females.
                            </li>
                            <li>
                                B.A. (23.3 Lakh) degree has been awarded to maximum number of students. B.Sc. (11.6 Lakh) is the second highest followed by B.Com. (9.6 Lakh).
                            </li>
                            <li>
                                The highest number of students (23.3 Lakh) have graduated in Arts courses.
                            </li>
                            <li>
                                At Post Graduate level M.A. pass number of students is maximum followed by M.Sc. and M.B.A.
                            </li>
                            <li>
                                At Ph.D. level, maximum numbers of students out-turn is in Science stream followed by Engineering and Technology. On the other hand at PG level maximum students out-turn is observed in Social Science and Management stream comes at number two.
                            </li>
                            <li>
                                The share of Ph.D. student is highest in State Public University (34.3%) followed by Institute of National Importance (21.6%), Deemed University-Private (21.6%) and State Private University (13.4%).
                            </li>
                            <li>
                                Share of female students is lowest in Institutions of National Importance followed by State Private Open Universities, Deemed Universities-Government.
                            </li>
                        </ul>
                    </p>
                </div>
                <!--//page-row-->
            </article>
		</div>
		<!--//page-content-->
	</div>
	<!--//page-->
</div>
	
{% endblock %}
