{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left" style="font-weight: 600">Director's Message</h1>
            </strong>
        </header>

        <div class="page-content" style="text-align:justify">
            <div class="row page-row">
                <figure class="thumb col-md-12">
                    <img class="img-responsive img-thumbnail" src="{% static 'assets/images/about_biet/director1.jpg' %}" alt="">
                </figure>
                <div class="row has-divider"></div>
                <div class="row has-divider"></div>
                <div class="container">
                    <div class="row col-md-12">              
                        <p>Education is very central to the development of a country and society. Technical Education plays a vital role in creating human capital of the country with skilled manpower that enhances industrial productivity and improving the quality of life. The challenging economic scenario throughout the globe has made several developing countries like India to give utmost prominence to Technical Education.</p>
                        <p>Way back in 1952, there was only one Engineering college established by Government, for which the admission were purely on merit basis. Then, many aspiring parents who wanted to provide Technical Education to their children, disappointed on not getting a seat in Government College. This has paved the way to establish Bapuji Institute of Engineering and Technology in the year 1979 by the foresighted vision of Dr.Shamanur Shivashankarappaji, Hon. Secretary. I am indeed happy to place it on record that so far approximately 25000 students have graduated from this Institution.</p>
                        <p>When Central part of Karnataka especially rural area was deprived of education, the Bapuji Educational Association was started during the year 1958, wherein the Government College, which was started in 1947 was handed over to Bapuji Educational Association.</p>
                        <p>Since then, our Institute is imparting Engineering education to inculcate competitiveness and quality in students and transform them as technically trained human recourses who can be astute enough to be globally accepted.</p>
                        <div style="text-align: right;">
                            <h3 class="text-highlight">Prof. Y. Vrushabhendrappa</h3>
                            <h4 class="has-divider text-highlight">Director</h4>
                            <a class="btn btn-theme" href="{% static 'assets/pdf/directorcv.pdf' %}" target="_blank" style = "margin-top: -20px;">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->
</div>
<!--//wrapper-->

{% endblock %}
