{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left">Principal's Message</h1>
            </strong>
        </header>

        <div class="page-content" style="text-align:justify">
            <div class="row page-row">
                <figure class="thumb col-md-12">
                    <img class="img-responsive img-thumbnail" src="{% static 'assets/images/about_biet/principal1.jpg' %}" alt="">
                </figure>
                <div class="row has-divider"></div>
                <div class="row has-divider"></div>
                <div class="container">
                    <div class="row col-md-12">
                        <div class="text-center">
                            <h2 style="font : georgia"> <i> " Wisdom is Teacher; Work is worship "</i> </h2>
                            <h5 style="font : georgia"> <i>- Guru Basavanna </i> </h5>
                        </div>
                        
                        <p> <b>Bapuji Institute of Engineering and Technology (BIET),</b>  strongly believes in these quotes and puts sincere efforts to impart knowledge to the students, so that student themselves can be their own teachers in future.  BIET also tries hard, to develop work culture and bring out the perfection in every student. </p>
                        <p>Vision of BIET itself is to be the center of excellence, recognized internationally so that the trained students can fit into the international requirements and become valuable assets to the society. The Institute tries to achieve this vision through its world class teaching methodology of outcome based education which empowers students to be successful in their chosen field with positive approach, leadership qualities and ethical values.</p>
                        <p>Bapuji Educational Association, Davangere, has put up more than 60 years of valuable service in the field of education and is 
                            <b>one of the best Institute in the central part of Karnataka</b>. 
                            It is a vast tree of education with around 40 different educational institutions as branches. With constant support from management lead by Dr. S. Shivashankarappa, Hon.Secretary and Sri S. S. Mallikarjuna, Hon. Joint Secretary, BIET has grown to be the crown in the field of Engineering education with its vast group of alumni spread over the entire globe serving successfully in various fields of engineering. </p>
                        <p>My dear aspirants of Engineering Education, I welcome you to this 63 acre green campus with number of building clusters, housing state-of -art laboratories of various engineering departments and library of international standards. Highlights of BIET are 
                            <b>qualified and committed staff, vast collection of books, E-library,  online classes and Lecture Capture system through Impartus,  efficient placement cell, modern research facilities, excellent industry-institute interaction, comfortable and pleasant hostel accommodation,  sports and physical exercise facilities, world class cultural auditorium, NSS and NCC groups, adequate health care facilities, continuous housekeeping, round-the-clock security and care taking student centric environment.</b>
                            On behalf BIET family of around 4000 members, I once again welcome you to join hands with us to build your future and contribute to the development of our great Nation.    
                        </p>
                        <div style="text-align: right;">
                            <h3 class="text-highlight">Dr. H B Aravind</h3>
                            <h4 class="has-divider text-highlight">Principal</h4>
                            <a class="btn btn-theme" href="{% static 'assets/pdf/principalcv.pdf' %}" target="_blank" style = "margin-top: -20px;">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->
</div>
<!--//wrapper-->

{% endblock %}
