{% extends 'base.html' %} {% load static %} {% block content %}

<div class="content container bgdata">
	<div class="page-wrapper">
		<header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left">Career</h1>
            </strong>
        </header>
		<div class="page-content">
            <article class="welcome col-md-12 col-sm-11">
                <div class="row page-row">
                    <h1 style="text-align: center;">Coming Soon</h1>
                </div>
                <!--//page-row-->
            </article>
		</div>
		<!--//page-content-->
	</div>
	<!--//page-->
</div>
	
{% endblock %}
