{% extends 'base.html' %} {% load static %} {% block content %}

<div class="content container bgdata">
	<div class="page-wrapper">
		<header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left">Contact Details</h1>
            </strong>
        </header>
		<div class="page-content">
            <article class="welcome col-md-12 col-sm-11">
                <div class="row page-row col-md-6">
                    <section class="widget has-divider">
                        <div class="section-content">
                            <p><b>Dr. Shamanur Shivashankarappa</b><br>
                                <b>Chairman, BIET</b><br>
                                <b>Hon.Secretary, B.E.A.</b><br>
                                Email id: <br>
                                Ph. No. : <br>
                            </p>
                        </div>
                        <div class="section-content">
                            <p><b>Sri S.S. Mallikarjuna</b><br>
                                <b>Joint Secretary, B.E.A.</b><br>
                                Email id: <br>
                                Ph. No. : 9980133999<br>                                
                            </p>
                        </div>
                        <div class="section-content">
                            <p><b>Prof. Y. Vrushabhendrappa</b><br>
                                <b>Director, BIET</b><br>
                                Email id: director@bietdvg.edu<br>
                                Ph. No. : 9448393144<br>                                
                            </p>
                        </div>
                        <div class="section-content">
                            <p><b>Dr. H.B. Aravind</b><br>
                                <b>Principal, BIET</b><br>
                                Email id: principal@bietdvg.edu<br>
                                Ph. No. : 8861864398<br>                                
                            </p>
                        </div>
                    </section>
                </div>
                <!--//page-row-->
                <div class="row page-row col-md-6">
                    <section class="widget has-divider">
                        <div class="section-content">
                            <p><b>Dr. Leela G.H.</b><br>
                                <b>Dean, Admissions</b><br>
                                Email id: admissions@bietdvg.edu<br>
                                Ph. No. : 9844474712<br>
                            </p>
                        </div>
                        <div class="section-content">
                            <p><b>Dr. Manvendra G.</b><br>
                                <b>Warden, Boys Hostel</b><br>
                                Email id: <br>
                                Ph. No. : 9964030806<br>                                
                            </p>
                        </div>
                        <div class="section-content">
                            <p><b>Dr. Vinutha H.P.</b><br>
                                <b>Warden, Amruta Hostel</b><br>
                                Email id: <br>
                                Ph. No. : 9964262478<br>                                
                            </p>
                        </div>
                    </section>
                </div>
                <!--//page-row-->
            </article>
		</div>
		<!--//page-content-->
	</div>
	<!--//page-->
</div>
	
{% endblock %}
