{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="content container bgdata content-text">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">NCC / NSS</h1>
        </header> 
        <div class="page-content">
            <div class="row page-row">
                <div class="courses-wrapper col-md-12 col-sm-7">           
                    <div class="featured-courses tabbed-info page-row">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab"><strong>National Cadet Corps - NCC</strong></a></li>
                            <li><a href="#tab2" data-toggle="tab"><strong>National Service Scheme - NSS</strong></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="row medical">
                                    
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="row medical">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
