{% extends 'base.html' %} {% load static %} {% block content %}

<div class="content container bgdata">
	<div class="page-wrapper">
		<header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left">National Service Scheme - NSS</h1>
            </strong>
        </header>
		<div class="page-content">
            <article class="welcome col-md-12 col-sm-11">
                <div class="row page-row">
                    <div class="row medical">
                        <div class="col-md-4 text-center">
                            <div class="album-cover">
                                <!-- <a href="#"> -->
                                <img class="img-thumbnail"
                                    src="{% static 'assets/ncc_nss/krishna_kumar.jpg' %}" alt=""
                                    style="width:330px;height:360px;">
    
    
                                <!-- </a> -->
                                <div class="desc">
                                    <h5>T. K. Krishna Kumar</h5>
                                    <h4><small>Asst. Prof. in Physics and NSS Programme officer</small></h4>
    
    
                                    <!-- <button type="button" class="btn btn-theme">Theme Button</button> -->
    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="has-divider" style="  text-align: justify;">
                                <br>
                                <h3>Vision</h3>
                                <p>To understand the community in which they work and understand themselves in relation to their community to develop among themselves a sense of social and civic responsibility to practice national integration and social harmony.</p>
                                <h3>Mission</h3>
                                <p>To identify the needs and problems of the community and involve them in problem-solving by utilize their knowledge in finding practical solutions to individual and community problems to develop competence required for group-living and sharing of responsibilities their by gain skills in mobilizing community participation, acquire leadership qualities and democratic attitudes, develop capacity to meet emergencies and natural disasters.</p>
                                <h3>Moto</h3>
                                <p>The Motto of NSS, <b>“Not Me But You"</b>, reflects the essence of democratic living and upholds the need for self-less service. The philosophy of the NSS is a good doctrine in this motto, which underlines on the belief that the welfare of an individual is ultimately dependent on the welfare of the society as a whole and therefore, the NSS volunteers shall strive for the well-being of the society.</p><br>
                                <h3>Logo</h3>
                                <p>The logo for the NSS has been based on the giant Rath Wheel of the world famous Konark Sun Temple (The Black Pagoda) situated in Orissa, India. The Red & Blue colors contained in the logo motivate the NSS Volunteers to be active & energetic for the nation-building social activities. The wheel portrays the cycle of creation, preservation and release and signifies the movement in life across time and space, The wheel thus stands for continuity as well as change and implies the continuous striving of NSS for social change.</p>
                                <p>The eight bars in the wheel of NSS logo represent the 24 hours of a day. The red colour indicates that the volunteer is full of young blood that is lively, active, energetic and full of high spirit. The navy blue colour indicates the cosmos of which the NSS is tiny part, ready to contribute its share for the welfare of the mankind.</p>
                                <p>On September 24, 1969, the then Union Education Minister Dr. V.K.R.V. Rao, launched the NSS programme in 37 universities covering all States and the programme was started during the Gandhi Centenary Year as it was Gandhi Ji who inspired the Indian youth to participate in the movement for India’s independence and the social upliftment of the downtrodden masses of our nation.</p>
                                <p>Today NSS is the largest social service unit composed young and dynamic youths of the country to serve the nation by serving the people.</p>
                            </div>
                            <a href="{% static 'assets/ncc_nss/nss_events.pdf' %}"
                                class="btn btn-theme view-pdf">View NSS Events</a>
                        </div>
                    </div>
                </div>
                <!--//page-row-->
            </article>
		</div>
		<!--//page-content-->
	</div>
	<!--//page-->
</div>
	
{% endblock %}
